.quotesComponent {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30vh;
    min-height: 100vh;
}



.quoteNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}



.quotesComponent h2 {
    font-size: 24px;
    line-height: 1.4;
    color: #333;
    margin: 0 20px;
    text-align: center;
    flex-grow: 2;


}

.quotesComponent .addingMessage {
    text-align: center;
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quotesComponent .quoteInput {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

.quotesComponent textarea,
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: none;
}

.quotesComponent button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgba(255, 111, 0, 0.896);
    /* From your .btn-lang class */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.quotesComponent button:hover {
    background-color: rgb(255, 89, 0);
    /* From your .btn-lang:hover class */
}

.quotesComponent button:active {
    background-color: #004399;
}

/* .quotesComponent button:last-child {
    background-color: #ccc;
    color: #333;
} */

.quotesComponent button:last-child:hover {
    background-color: #999;
}

/* Adjust for larger screens */
@media (min-width: 768px) {
    .quotesComponent button {
        font-size: 20px;
        padding: 10px 20px;
    }
}

@keyframes fadeInOut {
    0% {
        /* start of animation */
        opacity: 0;
    }

    25% {
        /* middle of animation, 2.5s mark */
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        /* end of animation */
        opacity: 0;
    }
}


.quote-field {
    max-width: 60vw;
    overflow-wrap: break-word;
    opacity: 1;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
    /* total duration of the animation */
    animation-iteration-count: infinite;
    /* this makes the animation run continuously */
}


.button-right {
    position: fixed;
    top: 50%;
    /* To center vertically */
    right: 0;
    /* Stick to the right side */
    transform: translateY(-50%);
    /* Vertical centering adjustment */
    z-index: 1000;
    /* Place it above other elements */
    margin-right: 20px;
}

.button-left {
    position: fixed;
    top: 50%;
    /* To center vertically */
    left: 0;
    /* Stick to the left side */
    transform: translateY(-50%);
    /* Vertical centering adjustment */
    z-index: 1000;
    /* Place it above other elements */
    margin-left: 10px;

}

.add-quote-btn {
    margin-top: 20px;
}