.registry-container {
    margin: 0 auto; // Center it horizontally
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;

    @media (max-width: 768px) {
        width: 100vw;
    }


    h2 {
        text-align: left; // Align the title to the left
        margin-bottom: 20px;
        color: rgb(0, 0, 0);

    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 15px;

            button {
                padding: 8px;
                background-color: transparent;
                border: 1px solid;
                border-radius: 1cm;
                background-color: rgba(252, 185, 16, 0.132);
                font-weight: 600;
                color: rgb(255, 111, 0);
                cursor: pointer;
                text-align: left; // Align the button content to the left
                text-decoration: none;
                transition: transform 0.3s ease, color 0.3s ease; // Added transition for smooth effect

                &:hover {
                    text-decoration: none;
                    color: rgb(255, 0, 0);
                    transform: scale(1.1); // Enlarge the text by 10% on hover
                }

                // For mobile devices, use active pseudo-class for touch or tap
                &:active {
                    color: #007BFF;
                    transform: scale(1.1);
                }
            }
        }
    }

    .language-switcher {
        position: absolute;
        bottom: 15px;
        right: 20px;
        cursor: pointer;
        font-size: 24px;
        z-index: 1003; // Ensure it appears on top of other elements
    }

}