
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    // height: 30vh;
    max-height: fit-content;

    .navbar-brand {
        background-color: rgba(255, 255, 255, 0.9);
        margin-left: 10px;
        max-width: 100vw;
        font-family: 'Amatic SC', cursive;
        color: rgb(252, 185, 16);

        h4 {
            font-weight: 700;
            font-size: 30px;

            @media (max-width: 1500px) {
                font-size: 25px;
            }

            @media (max-width: 340px) {
                font-size: 20px;
            }

        }


        &:hover {
            text-decoration: none;
        }
    }

    .navbar-toggler {
        position: relative; // Ensuring the toggler has a set positioning context
        z-index: 1002; // Make sure it appears on top of other elements
        background: none;
        border: none;

        &:focus,
        &:active {
            outline: none;
            border: none;
            box-shadow: none; // In case there's any box shadow
        }



        .navbar-toggler-icon {
            margin-top: 60px;
            margin-right: 20px;
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
            border: 0.05em solid rgb(252, 185, 16);
            border-radius: 0.25em;
            cursor: pointer;

            &.bg-wulal {
                background-color: rgba(252, 185, 16, 0.132);
                border: 0.05em solid rgb(252, 185, 16);

            }

            &:focus,
            &:active {
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
    }

}


#bzh {
    position: absolute; // Position it absolutely within the navbar
    top: 1rem; // Adjust this value to set the vertical position from the top
    right: 1rem; // Adjust this value to set the horizontal position from the right
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    z-index: 1001; // Make sure it appears on top
    color: rgb(255, 136, 0);

}


.Registry {
    max-height: 55vh;
    width: 100vw;
    -webkit-overflow-scrolling: touch;
    z-index: 1005;
    overflow-y: scroll;
    
    @media (min-width: 768px) {
        max-height: 50vh;
        overflow-y: scroll; // explicitly enable vertical scrolling    
        overflow-x: scroll;

    }
}



.Registry-item {
    // This is a hypothetical class. Replace with the actual class or element that represents each title
    break-inside: avoid; // avoid breaking inside a title
    margin-bottom: 1rem; // add space below each title
}

@media (min-width: 768px) {
    .navbar {

        .navbar-brand {
            margin-left: 40px;

        }

        .navbar-toggler {
            display: block;
        }
    }
}