@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Optional: semi-transparent white background */
    z-index: 9999;     /* Ensures the loader is on top of other content */
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid rgb(244, 182, 28);
    ; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
